.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.btn-primary {
    background: #2D6CFF;
}

.form-label {
    font-weight: 600;
    margin-bottom: 0;
}

body {
    background-color: #fafbfc;
}

.block-form {
    width: 100%;
    display: grid;
    place-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

    .title h1 {
        font-weight: 700;
        font-size: 24px;
    }

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 0 0 0;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    width: 40%;
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    border-radius: 3px;
    min-width: 640px;
    font-size: 18px;
}

.required::after {
    content: " *";
    color: red;
}

.error-label {
    color: red;
}