.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5% 2%;
    border-radius: 3px;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.btn-primary {
    background: #2D6CFF;
}

.btn-success {
    background: #28A745;
    color: #F0FFF4;
}

.form-label {
    font-weight: 600;
}

body {
    background-color: #fafbfc;
}

.block-form {
    width: 100%;
    display: grid;
    place-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

    .title h1 {
        font-weight: 700;
        font-size: 24px;
    }

    .title p {
        color: #24292E;
    }

.container-select-segmento {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 30px;
    width: 40%;
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    border-radius: 3px;
    min-width: 640px;
}

.options {
    display: flex;
    align-items: center;
    gap: 18px;
}

.card-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #959DA5;
    border-radius: 3px;
    min-height: 150px;
    gap: 30px;
    font-weight: 600;
    font-size: 24px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
}

    .card-option p {
        color: #24292E;
    }

    .card-option img {
        width: 20%;
    }

.selected {
    border: 3px solid #2D6CFF;
    border-radius: 3px;
    background: #F1F5FF;
    color: #2D6CFF;
    transition: 0.2s ease-in-out;
}

    .selected img {
        filter: brightness(0) saturate(100%) invert(36%) sepia(82%) saturate(3755%) hue-rotate(216deg) brightness(101%) contrast(105%);
    }

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#error {
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    width: 40%;
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    border-radius: 3px;
    min-width: 640px;
    font-size: 18px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.characterCounter {
    text-align: right;
}

.textarea-with-count {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
}

    .textarea-with-count textarea {
        width: 100%;
        height: 100%;
        border: none;
        padding-inline: 0;
    }

        .textarea-with-count textarea:focus {
            box-shadow: none;
        }

    .textarea-with-count:focus-within {
        outline: #c2dbfe solid 5px;
        border-color: #86b7fe;
        transition: linear;
        transition-duration: 0.05s;
    }

.required::after {
    content: " *";
    color: red;
}
