.form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5% 2%;
    border-radius: 3px;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border-radius: 3px;
}

.btn-editar {
    background-image: src(../../../assets/icons/editar.png);
    width: 25px;
}

.btn-primary {
    background: #2D6CFF;
}

.btn-success {
    background: #28A745;
    color: #F0FFF4;
}

.form-label {
    font-weight: 600;
}

body {
    background-color: #fafbfc;
}

.container-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-block: 16px;
}

.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .container-title h5 {
        font-weight: 700;
        font-size: 24px;
        color: #24292E;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D1D5DA;
    border-radius: 3px;
}

    .container a {
        color: transparent;
        text-decoration: underline;
    }

.title {
    align-items: flex-start;
    gap: 8px;
}

.infos {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

    .infos strong {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }

    .infos span {
        font-size: 15px;
        color: #444D56;
    }

    .infos .infos {
        gap: 0;
    }

.container-empty {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 10%;
}

    .container-empty h1 {
        font-weight: 600;
        font-size: 20px;
    }

.title-empty {
    display: grid;
    gap: 70px;
    padding: 40px 0px 0px 0px;
}

.img-empty {
    height: 115px;
}
