.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5% 2%;
  border-radius: 3px;
  gap: 10px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  border-radius: 3px;
}

.btn-primary {
  background: #2D6CFF;
}

.btn-success {
  background: #28A745;
  color: #F0FFF4;
}

.form-label {
  font-weight: 600;
}

body {
  background-color: #fafbfc;
}

.container-list-recalls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block: 16px;
}

.container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-title h5 {
  font-weight: 700;
  font-size: 24px;
  color: #24292E;
}

.container-recall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #D1D5DA;
  border-radius: 3px;
}

.title-recall {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.infos strong {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.infos span {
  font-size: 16px;
  color: #444D56;
}

.status-recall {
  display: flex;
  align-items: center;
  gap: 12px;
}
.status-recall p {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.btn-novoRecall {
  width: 225px;
  height: 43px;
}

.container-empty-list-recalls {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10%;
}
.container-empty-list-recalls h1 {
  font-weight: 600;
  font-size: 20px;
}

.title-recall-empty {
  display: grid;
  gap: 20px;
}

.img-recall-empty {
  height: 115px;
}
